.news-video-item{
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5px 0;
    & img{
        width: 140px;
        height: auto;
    }
    & p{
        margin: 0 0 0 10px;
        font-family: 'PT Sans', sans-serif;
        font-size: 1em;
        font-weight: bold;

    }
}