.news{
    max-width: 140px;
    padding: 0 8px;

@media (max-width:650px) {
      margin: 8px auto;
}

    &__descr{
        font-family: 'PT Sans', sans-serif;
        font-size: 1em;
        text-align: left;
        
    & p{
        margin-top: 4px;
      }
    }
}

.newsWidth--220px{
    max-width: 220px;
}


.newsWidth--300px{
    max-width: 300px;
    @media (max-width:620px) {
    max-width: 100%;
    }
}


.descrSize--Big{
    width: 55%; 
    flex-shrink: 0;
    @media (max-width:620px) {
        width: 100%;
      }
}

.descrSize--Biggest{
    width: 65%;
    flex-shrink: 0;
    @media (max-width:620px) {
        width: 100%;
      }
}


.flex-column{
    display: flex;
    flex-direction: column;
  }
  
  .flex-row{
    display: flex;
    
  }