div.article-column{
    padding: 25px 10px;
    font-size: 15px;
  }
  
  div.article-column p{
    font-weight: bold;
    margin-bottom: 5px;
  }
    
  div.article-column a{
    display: block;
    text-decoration: none;
    font-style: italic;
    color: #ffac00;
    text-align: right;
    margin-right: 20px;
  }
    