body{
    width: 230px;
}

.container{
    margin-bottom: 2vh;
}

img{
    width: 100%;
    margin-bottom: 10px;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style:italic;
}

p{
    margin: 0;
}