@import "./partials/main-content__item/main-content__item.scss";
@import "./partials/news-review__item/news-review__item.scss";

//body * {
//  outline: 1px solid lightgrey;
//}

.container{
  max-width: 940px;
  margin: 0 auto;
  padding: 8px;
}

main{
 max-width: 620px;
}

aside{
 max-width: 300px;
 padding: 30px 8px;
}

footer{
  padding-bottom: 60px;
}


a{
  text-decoration: none;
  color: #333333;
  &:hover{
    text-decoration: underline;
  }
}




.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
}

.justify-content--center{
  justify-content: center;
}

.justify-content--space-betwen{
  justify-content: space-between;
}

p.text-align--top{
  top: -32px;
}

.margin-top--10px{
  margin-top: 10px;
}

.padding--0-12px{
  padding: 0 12px;
}

.padding-right--12px{
  padding-right: 12px;
}

.font-family--PT-sans{
  font-family:'PT Sans', sans-serif;
}

.font-size--24px{
  font-size: 1.5rem;
 }

.text-transform--uppercase{
  text-transform: uppercase;
}

.text-color--blue{
  color: #3d76cc;
}







.hot-news{
  list-style-type: none;
  margin-top: 30px;
  margin-bottom: 22px;
  padding-left: 0;
  background-color: #d7d8d9;

  & li{
   cursor: pointer;
   color: #333333;
   padding: 8px 20px 8px 13px;
   font-size: 1.125rem;
  }

  & li:hover{
   background-color: #333333;
   color: white;
  }

}


.carousel{
  border-bottom: 5px solid #c70000;
  margin-bottom: 32px;
  
  &-image{
   width: 380px;
   height: 250px;
   background: url("./img/jurgen.png");
   background-size: cover;
   flex-shrink: 0;
  }

  &-text{
   background-color: #f7f9fa;
   max-width: 340px;
   padding: 0 20px;
   
    &__title a{
     font-size: 1.875rem;
     color: #c80000;
     margin: 15px 0;
    }

    &__descr{
      font-size: 0.875rem;
      color: #333333;
    }
  }
} 



.news-column{
  margin-bottom: 30px;
}


.news-title{
  position: relative;
  border-bottom: 2px solid black;
  margin: 13px 0;
 
  &.border-color--red{
    border-color: #c80000;
  }

  &.border-width--5px{
    border-width: 5px;
  }

  &__text{
    position: absolute;
    background-color: white;
    font-size: 1.5em;
    margin: 0;
    top: -20px;
    
    &.text-color--purple{
      color: #6a0099;
      font-size: 1.125rem;
      font-weight: 700;
     
      &.text-transform--uppercase{
        top:-10px;
      }

    }  
 }

}


.news-main-content{
  min-height: 220px;
}

.news-feed{
  max-width: 380px;
}

.news-feed_content{
  padding-left: 15px; 

  & li{
    font-size: 0.875rem;
    margin: 8px 0;
    
    & a:hover{
      color:#3d76cc;
    }

  }   
}


.news-with-pic{
  flex-shrink: 0;
  align-items: center;

  & a{
    margin: auto 8px;
    font-size: 0.875rem;
  }

  & a:hover{
    color:#3d76cc;
  }

}


.news-video__wrapper{
  max-width: 300px;
}

.news-video__item{
  margin: 10px auto;
}

.more-videos{
  padding: 20px 0;
}


.news-interesting{
  padding: 30px 0 20px 0;
}

.news-review{
  justify-content: space-evenly;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}