@import "./partials/event__item/event__item.scss";
@import "./partials/about__item/about__item.scss";

html{
  scroll-behavior: smooth;
}

body * {
  outline: 1px solid lightgrey;
}

body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
 
}

main{
  background-image: url("./img/main.png");
  background-size: cover;
  min-height: 100vh;
  max-width: 100vw;
  & .container{
    padding: 15px;
  }
}

.icons__wrapper{
  position: absolute;
  top: 37px;
  right: 160px;
  display: flex;
  align-items: center;
  z-index: 10;
  @media screen and (max-width:1000px) {
    right: 10%;
  }
  &>div{
    margin: 10px;
  }
  & i{
    font-size: 40px;
  }
}


.search__wrapper{
  cursor: pointer;
}

.menu__wrapper{
  position: relative;
  cursor: pointer;
  padding: 0;
  margin: 10px;
  list-style-type: none;
  &:hover .menu__items{
    display: block;
  }
  & i{
    font-size: 24px;
    border: 10px solid black;
    border-radius: 6px;
    background-color: black;
    color: white;
  }
}

.menu__items{
  display: none;
  position: absolute;
  top: 100%;
  right: -50%;
  padding: 5px;
  font-size: 1.25rem;
  background-color: rgba($color: #cecece, $alpha: 0.75)  ;
  border-radius: 5px;
  box-shadow: 6px 6px 14px 4px rgba(0, 0, 0, 0.3);
  white-space: nowrap;

  & li{
    padding: 5px;
    
  }
  & li:hover{
    color: black;
    background-color: #e6e6e6;
    border-bottom: 2px solid white;
    border-radius: 5px;
  }

  & a,a:visited{
    text-decoration: none;
    color: black;
  }

}

.container{
  display: flex;
  align-items: center;
  max-width: 1200px;
  height: inherit;
  margin: 0 auto;
  box-sizing: border-box;
  @media screen and (max-width:1000px) {
    justify-content: center;
  }
}


.top__wrapper{
  padding-top: 27px;
}

.logo{
  width: 174px;
  height: 174px;
  background-image: url("./img/Logo.png");
  
}

.top__text{
  display: flex;
  align-items: center;
  max-width: 570px;
  height: 460px;
  & h1{
    font-size: 72px;
    text-transform: uppercase;
  }
}

.top__button{
  width: 382px;
  height: 94px;
  margin: 25px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 13px;
  color: #ffffff;
  background: #000000;
  text-decoration: none;
  cursor: pointer;
  &.small{
    width: 170px;
    height: 40px;
    border-radius: 4px;
    & p{
      font-size: 14px;
    }
    & span{
      font-size: 18px;
    }
  }
  & p{
    text-transform: uppercase;
    font-size: 24px;
    
  }
  & span{
    font-size: 30px;
  
  }
  .btn:hover {
    text-decoration: none;
  }
}



.top__icons{
  padding: 60px 0;
  & div{
    display: inline-block;
    margin: 0px 50px 0 0;
  }
}

.icon-drink {
  width: 50px; height: 48px;
  background: url('./img/sprites.png') -10px -73px;
}

.icon-icecream {
  width: 41px; height: 54px;
  background: url('./img/sprites.png') -155px -10px;
}

.icon-special {
  width: 57px; height: 43px;
  background: url('./img/sprites.png') -10px -10px;
}

.icon-sweets {
  width: 48px; height: 47px;
  background: url('./img/sprites.png') -87px -10px;
}


.two-column__wrapper{
  display: flex;
  padding: 185px 0 145px;
  justify-content: space-between;
  @media screen and (max-width:1000px) {
    flex-direction: column;
    margin: 0 auto;
  }

}

.column{
  display: flex;
  flex-direction: column;
  padding: 0 15px;

 &__image img{
   max-width: 100%;
   height: auto;
 }
}


section{
  position: relative;
  background-image: url("./img/colorful-set-plate.png");
  height: 700px;
  z-index: -1;
  
 & .gradient{
   position: absolute;
   width: 100%;
   height: 100%;
   background: rgba($color: #292929, $alpha: 0.6);
   z-index: -1;
 }

}

.carousel{
  max-width: 1000px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  


  &__image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    background: url("./img/happyface.png");
    border: 3px solid #ffffff;
  }
  &__text{
    margin: 40px 18px 35px;
    padding: 0 18px;
    font-size: 16px;
  }
  &__user{
    font-weight: bold;
    & span{
      margin-left: 15px;
    }
  }
  &__dots{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 106px;
   & div{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #d5d5d5;
    margin: 10px;
    &:first-child{
      background: orange;
    }
   }
  }
}

.event{
  padding: 185px 0;
  @media screen and (max-width:1000px) {
    padding: 20px 0;
  }

  & .container{
    flex-direction: column;
  }
  & .two-column__wrapper{
    padding: 53px 0 0;
    @media screen and (max-width:1000px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__title{
    margin: 2px auto;
    max-width: 370px;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

    & p{
      margin-bottom:10px;
    }
    & p:last-child{
      color: #b9b9b9;
      font-size:24px;
      text-transform: capitalize;
      font-weight: normal;
      margin-top: 0;
    }
  }
}


.main-event__item{
  position: relative;
  max-width: 470px;
  
  & .main-event__text{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 35px;
    right: 35px;
    width: 400px;
    height: 400px;
    background-color: #ffffff;
    font-size: 16px;
    
  }
  & .main-event__date{
    margin:0 auto;
    width: 130px;
    height: 112px;
    background: black;
   & .date-numb{
     margin: 5px;
     font-size: 60px;
     color: #edc08a;
   }
   & .date-month{
    font-size: 18px;
    margin: 0;
    color: #ffffff;
   }
  }

  & .main-event__name{
    font-size: 20px;
    font-weight: bold;
    margin: 40px 0 7px;
  }

  & .main-event__location{
    margin: 7px 0;
    font-style: italic;
  }

  & .main-event__descr{
    margin-bottom: 50px;
  }

  & span{
    display: block;
    margin-top: 3px;
  }
  & .top__button.small{
    margin: 0 auto;
  }
}

.location{
  display: flex;
  background: #edc08b;
  min-height: 940px;
  & .container{
    @media screen and (max-width:620px) {
      width: 100%;
    }
  }
  & .item__inner{
    display: flex;
    align-content: center;
    justify-content: center;
    background: #ffffff;
    flex-grow: 1;
    padding: 0 25px;
    @media screen and (max-width:1000px) {
      width: 100%;
      padding: 0;;
      
    }
    
  }
  &__content{
    display: flex;
    min-height: 570px;
    width: 100%;
    padding: 0 15px;
    @media screen and (max-width:1000px) {
      width: fit-content;
      flex-direction: column;
      align-items: center;
      margin: 30px 0;
    }
    @media screen and (max-width:1000px) {
      width:100%;
    }
  }
  & .ifame{
    width:570px;
    height:570px;
    border:0;
    padding-bottom: 2px;
    @media screen and (max-width:620px) {
        display: none;
    }
  }
  &__item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #ffffff;
  }
  &__title{
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
  }
  &__email{
    font-weight: bold;
    & a{
      color: inherit;
      font-weight: normal;
    }
  }
}

.address{
  margin: 10px 0;
  & p:not(:first-child){
    margin: 5px 0;
  }

  &__title{
    font-size: 1em;
    font-weight: bold;
    margin: 5px 0;
  }

  &__phone{
    text-decoration: none;
    color: inherit;
  }

}

.booking{
  height: 800px;

  & .container{
    justify-content: center;
  }
 
  &__wrapeer{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    padding: 0 15px;
  }

  &__title{
    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin: 20px 0;
  }
 
   &__text{
     max-width: 80%;
     text-align: center;
     margin: 10px 0;

   }

   &__opentime{
     text-align: center;
     font-weight: bold;
     font-size: 24px;
     color: #edc08b;
     margin: 20px 0;
   }
}

.form{
  display: flex;
  align-items: center;
 
  & input{
    display: inline-block;
    width: 100%;
    height: 75px;
    margin: 15px;
    color: #b9b9b9;
    border-width: 2px;
    border-color:#b9b9b9;
    border-style: solid;
  }

  & input[type="text"]{
    padding: 0 5px;
  }

  & select{
    width: 100%;
    height: 79px;
    color: #b9b9b9;
    border-width: 2px;
    border-color:#b9b9b9;

  }

  
}

footer{
  background-color: black;
  min-height: 420px;
  color: #434343;
  font-size: 14px;
  
  & .column{
    min-height: 270px;
    padding-right: 70px;
    @media screen and (max-width:1000px) {
      padding-right: 5px;
    }
  }

  & .container{
    min-height: 420px;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width:1000px) {
      justify-content: space-evenly;
      & div:last-child{
        display: none;
      }
    }
  }

  & a{
    display: block;
    color: #434343;
  }
  & img{
    width: 120px;
    height: auto;
    margin: 18px 0 20px;
  }
  & p{
    margin: 10px 0;
  }
  
  .footer__navigation{
    width: 200px;
    padding: 9px 0;
    & a{
      margin: 6px 0;
      text-decoration: none;
      
    }
  }


  & .social__logos{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    width: 110px;
    & i{
      font-size: 21px;
    }
  }
  
  & .location__email{
    text-decoration: none;
    font-weight: normal;
    & a{
      font-style: italic;
    }
   
  }
  & .join-program__link{
    margin: 10px 0;
  }
}