<div class="event__item">
    <div class="event__img">
      <img src="@@Img_src" alt="@@Img_alt">
    </div>
    <div class="event__text">
      <p class="event__name">
         @@Event_name
      </p>
      <p class="event__date">
        @@Event_date
      </p>
      <p class="event__location">
        @@Event_location
      </p>
      <p class="event__descr">
          @@Event_descr
      </p>
      <div class="top__button small">
        <p>buy ticket</p>
        <span class="material-icons">
          east
        </span>
      </div>
    </div>
  </div>